.form{
  margin-top: 5%;
}
.form-group{
    white-space: nowrap;
}
.label-title{
    display:inline-block;
    min-width: 30%;
    text-align: right;
    margin-right: 10px;
}
.form-control{
    display:inline-block;
    width:40%;
}
.alert-danger{
  width: 36%;
  margin-left: 33%;
  text-align: center;
}
.alert-success{
  width: 36%;
  margin-left: 33%;
  text-align: center;
}
.button{
  margin-left: 58%;
}