.modal-body .form-group{
    white-space: nowrap;
}
.label-title{
    display:inline-block;
    min-width: 30%;
    text-align: right;
    margin-right: 10px;
}
.form-control{
    display:inline-block;
    width:50%;
}
.assign-section {
  float: left;
  margin-left: 20px;
}

 td.assign-selection-checkbox input[type="checkbox"] {
  float: left !important;
  margin-left: 20px !important;
}

