<div class="container">
	<div class="row">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li ng-click="changeTab('UNASSIGNED');"  ng-class="{'active': selectedTab == 'UNASSIGNED' }">
                        <a data-toggle="tab">
                        UNASSIGNED </a>
                    </li>
                    <li ng-click="changeTab('ASSIGNED');"  ng-class="{'active': selectedTab == 'ASSIGNED' }">
                        <a href="#tab_default_2" data-toggle="tab">
                        ASSIGNED </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane" id="tab_default_1" ng-class="{'active': selectedTab == 'UNASSIGNED' }">
                        <h4>LIST OF SUBTASKS</h4>
                        <div class="float-right">
                          <button class="btn btn-success btn-add" type="button" ng-click="showModal('#add')">
                          <i class="glyphicon glyphicon-plus gs"></i>
                          Add SubTask
                          </button>
                        </div>
                        <!-- <div class="table table-hover table-bordered table-responsive"> -->
                          <table id="mytable" class="table table-hover table-bordered table-striped">
                            <thead>
                              <tr>
                                <th>S.No</th>
                                <th>CREATED DATE</th>
                                <!--<th>ASSIGNED DATE</th>-->
                                <th>JIRA ID</th>
                                <th>TYPE</th>
                                <th>EFFORTS</th>
                                <th>SCOPE</th>
                                <!--<th>STATUS</th>-->
                                <th class="text-center">Actions</th>
                                <th class="text-center">
                                  <div ng-show="user.userRole === 'LEAD'">
                                    <input type="checkbox" value="" id="check" ng-model="isAllSelected" ng-change="isSelectAll()">
                                    <select id="selectUser" name="selectUser" ng-model="assignToId">
                                      <option value="select" ng-selected={{!assignToId}}>Select</option>
                                      <option ng-repeat="user in users" value="{{user.id}}">{{user.userName}}</option>
                                    </select>
                                    <button class='btn btn-info btn-xs' type="button" id="save"ng-click="assignToSprint()"><span class="glyphicon glyphicon-ok"></span>Save</button>
                                  </div>
          
                                 <div ng-hide="user.userRole === 'LEAD'">
                                    <input type="checkbox" value="" id="check" ng-model="isAllSelected" ng-change="isSelectAll()" >
                                    <button class='btn btn-primary btn-sm' type="button">Assign To Me</button>
                                  </div>
                                 </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="subtask in unassignedTasks track by $index">
                                <td>{{$index+1}}
                                <td>{{subtask.userStoryStatus.createdDate}}</td>
                                <!--<td>{{subtask.userStoryStatus.assignedDate}}</td>-->
                                <td>{{subtask.jiraId}}</td>
                                <td>{{subtask.type}}</td>
                                <td>{{subtask.estEfforts}}</td>
                                <td>{{subtask.scope}}</td>
                                <!--<td>{{subtask.userStoryStatus.status}}</td>-->
                                <td class="text-center table-actions-medium">
                                  <button class='btn btn-info btn-xs' type="button" ng-click=""><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                  <button class="btn btn-danger btn-xs" ng-click=""><span class="glyphicon glyphicon-trash"></span> Del</button></td>
                                <td><input type="checkbox" id="check" ng-model="subtaskList[$index]" ng-change="isLabelChecked(subtask, subtaskList[$index], $index)"></td>
                              </tr>
                              </tr>
                            </tbody>
                          </table>
                       <!--  </div> -->
                    </div>
                    <div class="tab-pane" id="tab_default_2" ng-class="{'active': selectedTab == 'ASSIGNED' }">
                        <table id="mytable" class="table table-bordred table-striped">
                            <thead>
                              <tr>
                                <th>S.No</th>
                                <th>CREATED DATE</th>
                                <th>ASSIGNED DATE</th>
                                <th>JIRA ID</th>
                                <th>TYPE</th>
                                <th>EFFORTS</th>
                                <th>SCOPE</th>
                                <th>STATUS</th>
                                <th>Edit</th>
                                <th>Details</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="subtask in subtasks track by $index">
                                <td>{{$index+1}}
                                <td>{{subtask.userStoryStatus.createdDate}}</td>
                                <td>{{subtask.userStoryStatus.assignedDate}}</td>
                                <td>{{subtask.jiraId}}</td>
                                <td>{{subtask.type}}</td>
                                <td>{{subtask.estEfforts}}</td>
                                <td>{{subtask.scope}}</td>
                                <td>{{subtask.userStoryStatus.status}}</td>
                                <td>
                                  <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
                                </td>
                                <td>
                                  <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Add SubTask</h4>
      </div>
      <div class="modal-body">

        <div class="sprint-errors" ng-show="errorMessage">
          <div class="alert alert-warning">
            <strong>Error. </strong> {{errorMessage}}
          </div>
        </div>

        <div class="form-group">
          <label class="label-title">Story:</label>
          <select id="moduleDropdown" name="module" text="Select Story" class="form-control" ng-model=subtask.storyId>
            <option value="{{story.storyId}}" data-ng-repeat="story in stories">{{story.jiraId}}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="label-title">Jira Id:</label>
          <input class="form-control" id="disabledInput" placeholder="Jira Id (e.g DOMO-0123)" type="text"  ng-model="subtask.jiraId">
        </div>

        <div class="form-group">
          <label class="label-title">Created Date:</label>
          <input class="form-control" id="disabledInput" placeholder="Created Date (yyyy-MM-dd)" type="text"  ng-model="subtask.createdDate">
        </div>

        <div class="form-group">
          <label class="label-title">Efforts:</label>
          <input class="form-control" type="text" placeholder="Efforts" ng-model="subtask.efforts">
        </div>

        <div class="form-group">
          <label class="label-title">Scope:</label>
          <select id="moduleDropdown" name="module" placeholder="Select Module" class="form-control" ng-model=subtask.scope>
            <option value="PLANED" >Planed</option>
            <option value="UNPLANED" >Unplaned</option>
          </select>
        </div>

        <div class="form-group">
          <label class="label-title">Scope:</label>
          <select id="moduleDropdown" name="module" placeholder="Select Module" class="form-control" ng-model=subtask.type>
            <option value="BUG" >Bug</option>
            <option value="SUBTASK">Subtask</option>
          </select>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeModal('#add')">Cancel</button>
          <button type="button" class="btn btn-primary" ng-disabled="error" ng-click="addSubtask(subtask)">Add</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

<!--
    "efforts" : 9,
	"jiraId" : "DOMO-5555",
	"scope" : "PLANNED",
	"type" : "SUBTASK",
	"createdDate" : "2016-06-09"
<select class="selectpicker" data-live-search="true">
  <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
  <option data-tokens="mustard">Burger, Shake and a Smile</option>
  <option data-tokens="frosting">Sugar, Spice and all things nice</option>
</select>
-->
