<div class="container">
  <div class="tabbable-panel">
    <div class="tabbable-line">
      <ul class="nav nav-tabs ">
        <li ng-click="changeTab('BACKLOG');" ng-class="{'active': selectedTab == 'BACKLOG' }">
          <a data-toggle="tab">
            BACKLOG </a>
        </li>
        <li ng-click="changeTab('CURRENT');" ng-class="{'active': selectedTab == 'CURRENT' }">
          <a data-toggle="tab">
            CURRENT SPRINT </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane" id="tab_default_1" ng-class="{'active': selectedTab == 'BACKLOG' }">
          <h5>BACKLOG STORIES</h5>
          <app-loader></app-loader>
          <div ng-show="!loading">
            <div ng-hide="user.userRole === 'MANAGER'">
              <div class="float-right">
                <button class="btn btn-success btn-add" type="button" ng-click="showAddModal()">
                  <i class="glyphicon glyphicon-plus gs"></i>
                  Add Story
                </button>
              </div>
              <table id="mytable" class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                  <th>No.</th>
                  <th>Created Date</th>
                  <th>Story</th>
                  <th>Module</th>
                  <th>Task Type</th>
                  <th>Story Point</th>
                  <th class="text-center">Edit</th>
                  <th>
                    <div class="assign-section" ng-show="user.userRole === 'LEAD'">
                      <input type="checkbox" value="" id="check" ng-model="isAllSelected" ng-change="checkAll()"/>
                      <select name="selectUser" ng-model="assignToId">
                        <option value="">-- Assign To--</option>
                        <option ng-repeat="user in users" value="{{user.id}}">{{user.userName}}</option>
                      </select>
                      <button class='btn btn-info btn-xs' type="button" ng-click="assignToSprint()"><span
                          class="glyphicon glyphicon-ok"></span>Save
                      </button>
                    </div>

                    <div ng-hide="user.userRole === 'LEAD'">
                      <input type="checkbox" value="" id="check" ng-model="isAllSelected" ng-change="checkAll()"/>
                      <button class='btn btn-primary btn-sm' type="button" ng-click="assignToSprint()">Assign To Me</button>
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-show="!backlogtories">
                    <td colspan="8" class="text-align-center">No Records Found</td>
                  </tr>
                  <tr ng-repeat="story in backlogtories track by $index">
                    <td>{{$index+1}}
                    <td>{{story.createdDate}}</td>
                    <td>{{story.jiraId}}</td>
                    <td>{{story.moduleName}}</td>
                    <td>{{story.taskTypeName}}</td>
                    <td>{{story.storyPoint}}</td>
                    <td>
                      <button class='btn btn-primary btn-xs' type="button" ng-click="showEditModal(story)"><span class="glyphicon glyphicon-edit"></span>
                      </button>
                    </td>
                    <td class="assign-selection-checkbox">
                      <input type="checkbox" ng-model="storySelection[$index]"
                        ng-change="onItemSelected(story, storySelection[$index], $index)">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div ng-show="user.userRole === 'MANAGER'">
              <table id="mytable" class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Created Date</th>
                    <th>Story</th>
                    <th>Module</th>
                    <th>Task Type</th>
                    <th>Story Point</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-show="!backlogtories">
                    <td colspan="7" class="text-align-center">No Records Found</td>
                  </tr>
                  <tr ng-repeat="story in backlogtories track by $index">
                    <td>{{$index+1}}
                    <td>{{story.createdDate}}</td>
                    <td>{{story.jiraId}}</td>
                    <td>{{story.moduleName}}</td>
                    <td>{{story.taskTypeName}}</td>
                    <td>{{story.storyPoint}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab_default_2" ng-class="{'active': selectedTab == 'CURRENT' }">
          <h5>CURRENT SPRINT STORIES</h5>    
          <app-loader></app-loader>
          <div ng-show="!loading">
            <div ng-hide="user.userRole === 'MANAGER'">
             <table id="mytable" class="table table-hover table-bordered table-striped" width="100%">
              <thead>
                <tr>
                  <th class="text-center" width="1%">No.</th>
                  <th class="text-center" width="10%">Created Date</th>
                  <th class="text-center" width="11%">Assigned Date</th>
                  <th class="text-center" width="13%">Story</th>
                  <th class="text-center" width="10%">Module</th>
                  <th class="text-center" width="13%">Task Type</th>
                  <th class="text-center" width="8%">Story Point</th>
                  <th class="text-center" width="19%">Status</th>
                  <th class="text-center" width="23%">Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-show="!stories">
                  <td colspan="9" class="text-align-center">No Records Found</td>
                </tr>
                <tr ng-repeat="story in stories track by $index">
                  <td align="center">{{$index+1}}</td>
                  <td align="center">{{story.createdDate}}</td>
                  <td align="center">{{story.userStoryStatus.assignedDate}}</td>
                  <td align="center">{{story.jiraId}}</td>
                  <td align="center">{{story.moduleName}}</td>
                  <td align="center">{{story.taskTypeName}}</td>
                  <td align="center">{{story.storyPoint}}</td>
                  <td align="center">
                    <div ng-show="!editStorySelection[$index]">
                      {{story.userStoryStatus.status}}
                    </div>

                    <div ng-show="editStorySelection[$index]">
                      <select ng-model="story.userStoryStatus.status">
                        <option value="">--Select --</option>
                        <option ng-repeat="option in availableOptions"
                                ng-selected="{{story.userStoryStatus.status == option.value}}" value="{{option.value}}">
                          {{option.name}}
                        </option>
                      </select>
                    </div>
                  </td>

                  <td align="center">
                    <div ng-show="!editStorySelection[$index]">
                      <div data-placement="top" data-toggle="tooltip" title="Edit">
                        <button class='btn btn-primary btn-xs' type="button" data-title="Edit" ng-click="editStorySelection[$index] = true">
                          <span class="glyphicon glyphicon-edit"></span>
                        </button>
                      </div>
                    </div>

                    <div ng-show="editStorySelection[$index]">
                      <div data-placement="top" data-toggle="tooltip">
                        <button class='btn btn-info btn-xs' type="button" ng-click="saveStoryStatus(story, $index)"><span
                            class="glyphicon glyphicon-ok"></span>Save
                        </button>
                        <button class='btn btn-default btn-xs' type="button" ng-click="editStorySelection[$index] = false"><span
                            class="glyphicon glyphicon-remove"></span>Cancel
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
<!-- *** -->
          <div ng-show="user.userRole === 'MANAGER'">
            <div class="float-right">
              <div class="inner-addon right-addon">
                <i class="glyphicon glyphicon-search"></i>
                  <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
              </div>
            </div>             
            <table id="mytable" class="table table-hover table-bordered table-striped" width="100%">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Resource Name</th>
                  <th>Created Date</th>
                  <th>Assigned Date</th>
                  <th>Story</th>
                  <th>Module</th>
                  <th>Task Type</th>
                  <th>Story Point</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-show="!allstories">
                  <td colspan="8" class="text-align-center">No Records Found</td>
                </tr>
                <tr ng-repeat="story in allstories  | filter:searchText track by $index">
                  <td align="center">{{$index+1}}</td>
                  <td align="center">{{story.userStoryStatus.assignedTo}}</td>
                  <td align="center">{{story.createdDate}}</td>
                  <td align="center">{{story.userStoryStatus.assignedDate}}</td>
                  <td align="center">{{story.jiraId}}</td>
                  <td align="center">{{story.moduleName}}</td>
                  <td align="center">{{story.taskTypeName}}</td>
                  <td align="center">{{story.storyPoint}}</td>
                  <td align="center">
                    <div ng-show="!editStorySelection[$index]">
                      {{story.userStoryStatus.status}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Story Modal -->
<tms-modal modal-visible="isAddModalVisible" backdrop="static" on-sown="" on-hide="" >
  <modal-header title="Add Story"></modal-header>
  <modal-body>
    <div class="sprint-errors" ng-show="errorMessage">
      <div class="alert alert-warning">
        <strong>Error. </strong> {{errorMessage}}
      </div>
    </div>

    <div class="form-group">
      <label class="label-title">Jira Id:</label>
      <input class="form-control" id="disabledInput" placeholder="Jira Id (e.g DOMO-0123)" type="text"  ng-model="story.jiraId">
    </div>

    <div class="form-group">
      <tms-datepicker label="Created Date:" ng-model="story.createdDate"></tms-datepicker>
    </div>

    <div class="form-group">
      <label class="label-title">Module:</label>
      <select class="form-control" ng-model="story.moduleId">
        <option value="">--Select --</option> 
        <option ng-repeat="module in modules" value="{{module.id}}"> {{module.moduleName}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="label-title">Task Type:</label>
      <select class="form-control" ng-model="story.taskTypeId">
        <option value="">--Select --</option> 
        <option ng-repeat="task in tasktypes" value="{{task.id}}"> {{task.taskTypeName}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="label-title">Story Point:</label>
      <input class="form-control" type="text" placeholder="Story Point(1,2,3,5,8,13)" ng-model="story.storyPoint">
    </div>

  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-secondary" ng-click="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="error" ng-click="addStory(story)">Add</button>
  </modal-footer>
</tms-modal>

 <!-- Edit Story Modal -->
<tms-modal modal-visible="isEditModalVisible" backdrop="static" on-sown="" on-hide="" >
  <modal-header title="Edit Story"></modal-header>
  <modal-body>
    <div class="sprint-errors" ng-show="errorMessage">
      <div class="alert alert-warning">
        <strong>Error. </strong> {{errorMessage}}
      </div>
    </div>

    <div class="form-group">
      <tms-datepicker label="Created Date:" ng-model="story.createdDate"></tms-datepicker>
    </div>

    <div class="form-group">
      <label class="label-title">Jira Id:</label>
      <input class="form-control" id="disabledInput" type="text"  ng-model="story.jiraId">
    </div>

    <div class="form-group">
      <label class="label-title">Module:</label>
       <select class="form-control" ng-model="story.moduleId" ng-options="module.id as module.moduleName for module in modules" ng-init="story.moduleId">
       </select>
    </div>

    <div class="form-group">
      <label class="label-title">Task Type:</label>
       <select class="form-control" ng-model="story.taskTypeId" ng-options="task.id as task.taskTypeName for task in tasktypes" ng-init="story.taskTypeId">
       </select>
    </div>

    <div class="form-group">
          <label class="label-title">Story Point:</label>
          <input class="form-control" type="text" ng-model="story.storyPoint">
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-secondary" ng-click="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="error" ng-click="editStory(story)">Update</button>
  </modal-footer>
</tms-modal>
