<app-loader></app-loader>
<div class="container" ng-show="!loading">
  <div class="float-right">
    <button class="btn btn-success btn-add" type="button" ng-click="showAddModal()">
      <i class="glyphicon glyphicon-plus gs"></i>
        Add Sprint
    </button>
  </div>

  <table class="table table-hover table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Hours</th>
        <th>Status</th>
        <th>Velocity</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="sprint in sprints">
        <td>{{ sprint.sprintName}}</td>
        <td>{{ sprint.sprintStartDate}}</td>
        <td>{{ sprint.sprintEndDate }}</td>
        <td>{{ sprint.sprintHours }}</td>
        <td>{{ sprint.sprintStatus }}</td>
        <td>{{ sprint.sprintVelocity}}</td>
        <td class="text-center table-actions-medium">
          <button class="btn btn-primary btn-xs"  type="button" ng-disabled="sprint.sprintStatus == 'CLOSED'" ng-click="showEditModal(sprint)"><span class="glyphicon glyphicon-edit"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Add Sprint Modal -->
<tms-modal modal-visible="isAddModalVisible" backdrop="static" on-sown="" on-hide="">
  <modal-header title="Add New Sprint"></modal-header>
  <modal-body>
    <div class="sprint-errors" ng-show="errorMessage">
      <div class="alert alert-warning">
        <strong>Error. </strong> {{errorMessage}}
      </div>
    </div>
    <div class="form-group">
      <label class="label-title">Sprint Name: </label>
      <input class="form-control " type="text" placeholder="Sprint Name" ng-model="sprint.sprintName">
    </div>

    <div class="form-group">
      <tms-datepicker label="Start Date:" ng-model="sprint.sprintStartDate"></tms-datepicker>
    </div>

    <div class="form-group">
      <tms-datepicker label="End Date:" ng-model="sprint.sprintEndDate"></tms-datepicker>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-secondary" ng-click="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="errorMessage" ng-click="addSprint(sprint)">Save
    </button>
  </modal-footer>
</tms-modal>

<!-- Edit Sprint Modal -->
<tms-modal modal-visible="isEditModalVisible" backdrop="static" on-sown="" on-hide="">
  <modal-header title="Edit Sprint Details"></modal-header>
  <modal-body>
    <div class="sprint-errors" ng-show="errorMessage">
      <div class="alert alert-warning">
        <strong>Error. </strong> {{errorMessage}}
      </div>
    </div>

    <div class="form-group">
      <label class="label-title">Name:</label>
      <input class="form-control" id="disabledInput" type="text"  ng-model="editSprint.sprintName" disabled>
    </div>

    <div class="form-group">
      <label class="label-title">Start Date:</label>
      <input class="form-control" type="text" id="disabledInput" ng-model="editSprint.sprintStartDate" disabled>
    </div>

    <div class="form-group">
      <tms-datepicker label="End Date:" ng-model="editSprint.sprintEndDate"></tms-datepicker>
    </div>
    
    <div class="form-group">
      <label class="label-title">Hours:</label>
      <input class="form-control" id="disabledInput" type="text"  ng-model="editSprint.sprintHours" disabled>
    </div>

    <div class="form-group">
      <label class="label-title">Status:</label>
      <select id="selectSprintStatus" name="selectSprintStatus" class="form-control" ng-model="editSprint.sprintStatus">
        <option ng-repeat="option in sprintStatus" ng-selected="{{editSprint.status == option.value}}" value="{{option.value}}"> {{option.name}}
      </select>
    </div>

    <div class="form-group">
      <label class="label-title">Velocity:</label>
      <input class="form-control" id="disabledInput" type="text"  ng-model="editSprint.sprintVelocity" disabled>
    </div>

  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-secondary" ng-click="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="error" ng-click="editSprint(editSprint)">Save
    </button>
  </modal-footer>
</tms-modal>

 