<!-- <div ng-show="loading" class="loading-spiner-holder" data-loading >
	<div class="loading-spiner">
		<img src="img/loader.gif" /><label>Loading...</label>
	</div>
</div> -->
<app-loader></app-loader>
<div class="container" ng-show="!loading">
  <div class="tabbable-panel">
        <div class="tab-content">
        	<div class="tab-pane active" id="tab_default_1">
        		<div class="float-right">
        			<button class="btn btn-success btn-add" type="button" data-title="Add" data-toggle="modal" ng-click="showModal('#add')">
        		    <i class="glyphicon glyphicon-plus gs"></i>
        		      Add Sprint
        	    </button>

        		</div>          

        	<table class="table table-hover table-bordered table-responsive">
        		<thead>
        		  <tr>
        		    <th>Name</th>
        		    <th>Start Date</th>
        		    <th>End Date</th>
        		    <th>Hours</th>
        		    <th>Status</th>
        		    <th>Velocity</th>
        		    <th>Edit</th>
        		  </tr>
        		</thead>

        		<tbody>
        			<tr ng-repeat="sprint in sprints">
        			  <td>{{ sprint.sprintName}}</td>
          			<td>{{ sprint.sprintStartDate}}</td>
          			<td>{{ sprint.sprintEndDate }}</td>
          			<td>{{ sprint.sprintHours }}</td>
          			<td>{{ sprint.sprintStatus }}</td>
          			<td>{{ sprint.sprintVelocity}}</td>
          			<td>
                  <p data-placement="top" data-toggle="tooltip" title="Edit">
        					  <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" ng-disabled="sprint.sprintStatus == 'CLOSED'" ng-click="showModal('#edit', sprint)">
        					    <span class="glyphicon glyphicon-pencil"></span>
        					 </button>
        					</p>
        				</td>
              </tr>
        		</tbody>
        	</table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Edit Your Sprint Details</h4>
      </div>

      <div class="modal-body">
        <div class="sprint-errors" ng-show="error">
          <div class="alert alert-warning">
            <strong>{{error}}. </strong> {{errorMessage}}
            <div>{{errorDetails}}</div>
          </div>
        </div>
        <div class="form-group">
          <label class="label-title">Name:</label>
          <input class="form-control" id="disabledInput" type="text"  ng-model="sprint.sprintName" disabled>
        </div>

        <div class="form-group">
          <label class="label-title">Start Date:</label>
          <input class="form-control" id="disabledInput" type="text"  ng-model="sprint.sprintStartDate" disabled>
        </div>

        <div class="form-group">
          <label class="label-title">End Date:</label>
          <input class="form-control" type="text" ng-model="sprint.sprintEndDate">
        </div>

        <div class="form-group">
          <label class="label-title">Hours:</label>
          <input class="form-control" id="disabledInput" type="text"  ng-model="sprint.sprintHours" disabled>
        </div>

        <div class="form-group">
          <label class="label-title">Status:</label>
            <select id="selectbasic" name="selectbasic" class="form-control" ng-model=sprint.sprintStatus>
              <option value="OPEN" >Open</option>
              <option value="CLOSED" >Closed</option>
            </select>
        </div>
                      
        <div class="form-group">
          <label class="label-title">Velocity:</label>
            <input class="form-control" id="disabledInput" type="text"  ng-model="sprint.sprintVelocity" disabled>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeModal('#edit')">Cancel</button>
          <button type="button" class="btn btn-primary" ng-disabled="error" ng-click="updateSprint(sprint)">Update</button>
        </div>
        
      </div>
    </div>
           
  </div>
      <!-- /.modal-content --> 
</div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <h4 class="modal-title custom_align" id="Heading">Add New Sprint</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <tms-alert error-message=""></tms-alert>
        </div>

        <div class="form-group">
          <label class="label-title">Sprint Name: </label>
          <input class="form-control " type="text" placeholder="Name" ng-model="sprint.sprintName">
        </div>
        <div class="form-group">
          <label class="label-title">Start Date: </label>
          <input class="form-control" type="text" placeholder="Select Start Date(YYYY-MM-DD)" ng-model="sprint.sprintStartDate">
        </div>

        <div class="form-group">
          <label class="label-title">End Date: </label>
          <input class="form-control" type="text" placeholder="Select End Date(YYYY-MM-DD)" ng-model="sprint.sprintEndDate">
        </div>

        <div class="modal-footer ">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeModal('#add')">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="addSprint(sprint)">Save</button>
        </div>
        
      </div>
    </div>
           
  </div>
      <!-- /.modal-content --> 
</div>

      <!-- /.modal-dialog --> 

    
 
		
		
	 