#addSprint {
	margin-left: 75%;
}


.loading-spiner{
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 1.5em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    white-space: nowrap;
}

.loading-spiner img{
  height: 40px;
  width: 40px;
}

.loading-spiner img, .loading-spinner label{
  display: inline-block;
}
